---
import CarruselCard from '../components/CarruselCard.astro';
import GameCard from '../components/GameCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div id="loader">Cargando...</div>
	<div id="content">
		<header>
			<div class="header-info">
				<h1>GameVault</h1>
			</div>
			<hr>
			<div class="searcher">
				<input type="search" placeholder="Buscar juegos..." />
			</div>	
		</header>
		<hr>
		<hr class="space">
		<main>
			<div class="top-game-list">
				<button class="prev arrows">❮</button>
					<CarruselCard game_info={{name: "The Legend of Zelda: Breath of the Wild", rating: 4.5, released: "2017-03-03"}} />
				  <button class="next arrows">❯</button>
			</div>
				<hr class="space">
			<div class="popular-game-list">
				
			</div>
		</main>
		<footer>
			<p>Made by Juancho</p>
		</footer>
	</div>
</Layout>

<style>
	#content {
		display: none;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}

	body {
		font-family: 'Inter', sans-serif;
		background-color: #f5f5f5;
		color: #333;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	header {
		height: 15%;
		background-color: #181b25;
		color: #fff;

		hr {
			border: 0;
			height: 2%;
			background-color: #1e222c;
			margin: 0;
		}

		.header-info {
			margin: 0;
			display: flex;
			height: 60%;

			flex-direction: row;
		}

		.searcher {
			height: 38%;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			input {
				width: 50%;
				padding: 0.5rem;
				border-radius: 4px;
				border: none;
				font-size: 1rem;
				background-color: #2d3544;
				color: #fff;
				&::placeholder {
					color: #a6acbe;
				}
			}
		}
	}

	hr {
		border: 0;
		height: 0.4%;
		background-color: #1e222c;
		margin: 0;
	}

	.space {
		border: 0;
		height: 1%;
		background-color: #181b25;
		margin: 0;
	}

	main {
		height: 80%;
		display: flex;
		flex-direction: column;

		.top-game-list {
			height: 50%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			gap: 1rem;

			.arrows {
  				position: absolute;
  				top: 50%;
  				transform: translateY(-50%);
  				font-size: 30px;
  				background: rgba(0,0,0,0.5);
  				color: white;
  				border: none;
  				cursor: pointer;
  				padding: 10px;
			}

			.prev {
  				left: 1%;
				z-index: 9;
			}

			.next {
  				right: 1%;
			}
		}
	}

	#loader {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: white;
		z-index: 10;
	}
</style>

<script type="module" defer>
	const loader = document.getElementById("loader");
	const content = document.getElementById("content");

	import { call_data, top_games } from "../../public/utils/api_call.js";
	let top_games_info;

	async function initData() {
  	try {
		top_games_info = await top_games();	
		initApp();
  	} catch (error) {
  	  console.error("Error:", error);
  	} finally {
  	  // 🔥 Esto SIEMPRE se ejecuta
  	  loader.style.display = "none";
  	  content.style.display = "block";
  	}
}

initData();
	
function initApp() {
	console.log(top_games_info)
	let top_games_info_filter = top_games_info.filter(j => j.background_image !== null && j.name !== null && j.metacritic !== null);
	console.log
	function mezclarArray(array) {
	  for (let i = array.length - 1; i > 0; i--) {
	    const j = Math.floor(Math.random() * (i + 1));
	
	    [array[i], array[j]] = [array[j], array[i]];
	  }

	  return array;
	}

	top_games_info_filter = mezclarArray(top_games_info_filter);

	let index = 0;

	const img = document.getElementById("top-game-list-card");
	const name = document.getElementById("carrusel-card-game-name");
	const rating = document.getElementById("carrusel-card-game-rating")

	img.style.backgroundImage = `url("${top_games_info_filter[index]?.background_image}")`;
	name.textContent = `${top_games_info_filter[index]?.name}`;
	rating.textContent = `${top_games_info_filter[index]?.metacritic}`;

	document.querySelector(".next").onclick = () => {
		index++;
		if (index >= top_games_info_filter.length) {
			index = 0;
		}
	  img.style.backgroundImage = `url("${top_games_info_filter[index]?.background_image}")`;
	  name.textContent = `${top_games_info_filter[index]?.name}`;
	  rating.textContent = `${top_games_info_filter[index]?.metacritic}`;
	}
	document.querySelector(".prev").onclick = () => {
		index--;
		if (index < 0) {
			index = top_games_info_filter.length - 1;
		}
	  img.style.backgroundImage = `url("${top_games_info_filter[index]?.background_image}")`;
	  name.textContent = `${top_games_info_filter[index]?.name}`;
	  rating.textContent = `${top_games_info_filter[index]?.metacritic}`;
	};
}

</script>
